# Copyright (c) 2021-2022 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig LCZ_MQTT
    bool "Config LCZ_MQTT Module"
    select SHADOW_PARSER
    select LCZ_CERTS

if LCZ_MQTT

config LCZ_MQTT_RX_BUFFER_SIZE
    int "Size of buffer for MQTT rx path"
    default 1024

config LCZ_MQTT_TX_BUFFER_SIZE
    int "Size of buffer for MQTT tx path"
    default 1536

config LCZ_MQTT_PUBLISH_WATCHDOG_SECONDS
    int "Watchdog timeout for successful MQTT publish"
    default 3600
    help
        Disabled when 0
        Not enabled until first successful publish
        Timeout causes a reset
        Shouldn't be enabled if periodic data isn't sent.

config LCZ_MQTT_CONNECT_TRIES
    int "Number of times to try to connect to LCZ_MQTT before reporting a failure"
    default 1

config LCZ_MQTT_MAX_CONSECUTIVE_CONNECTION_FAILURES
    int "Maximum consecutive connection failures before reset"
    default 0
    help
        Disabled when 0

config LCZ_MQTT_SHADOW_IN_MAX_SIZE
    int "Maximum size of subscription/shadow that can be processed"
    default 8192
    help
        The timestamps can make the shadow larger than 7K bytes.

config LCZ_MQTT_SHADOW_TOPIC_MAX_SIZE
    int "Maximum size of topic"
    default 128

module=LCZ_MQTT
module-dep=LOG
module-str=LCZ_MQTT
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

if LCZ_MQTT_LOG_LEVEL >= 3

config LCZ_MQTT_LOG_MQTT_PUBLISH
    bool "Print data published to LCZ_MQTT"

config LCZ_MQTT_LOG_MQTT_PUBLISH_TOPIC
    bool "Print the topic that docs are published"

config LCZ_MQTT_LOG_MQTT_SUBSCRIPTION
    bool "Enable/Disable printing of received MQTT data"

config LCZ_MQTT_LOG_MQTT_SUBSCRIPTION_TOPIC
    bool "Enable/Disable printing of received MQTT topic"

endif # LOG_LEVEL

config LCZ_MQTT_KEEPALIVE_VERBOSE
    bool "Log status for keep alive"
    depends on LCZ_MQTT_LOG_LEVEL >= LCZ_MQTT_LOG_LEVEL_INF

endif # LCZ_MQTT
