# Copyright (c) 2022 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig GATEWAY_COMMON
    bool "Enable Gateway Common Module"
    default y

if GATEWAY_COMMON

config GATEWAY_COMMON_NV_DEPRECATION_HANDLER
    bool "Read values stored in NV system into LFS"
    help
      Used when upgrading from version of firmware that used NV

module=GATEWAY_COMMON
module-dep=LOG
module-str=GATEWAY_COMMMON
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

#
# The following 4 values are used to save NV information into
# the filesystem to allow deprecation of the NV system.
#
config APP_COMMISSIONED_FILE_NAME
    string
    default "commissioned.bin"

config APP_CLIENT_ID_FILE_NAME
    string
    default "client_id.txt"

config APP_ENDPOINT_FILE_NAME
    string
    default "endpoint.txt"

config APP_TOPIC_PREFIX_FILE_NAME
    string
    default "topic_prefix.txt"

endif # BLE
