rsource "./Kconfig.aws"
rsource "./Kconfig.shadow_parser"
rsource "./Kconfig.ble"
rsource "./Kconfig.gateway_common"
rsource "./Kconfig.single_peripheral"
rsource "./Kconfig.lairdconnect_battery"
rsource "./Kconfig.lcz_certs"
rsource "./Kconfig.lte"
rsource "./Kconfig.button"
rsource "./Kconfig.sntp"
rsource "./Kconfig.lcz_motion"
rsource "./Kconfig.lcz_motion_temperature"
rsource "./Kconfig.lcz_mqtt"
