# Copyright (c) 2021 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig SHADOW_PARSER
    bool "Enable Shadow Parser Module"
    help
        This depends on jsmn

if SHADOW_PARSER

module=SHADOW_PARSER
module-dep=LOG
module-str=SHADOW_PARSER
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config SHADOW_PARSER_FLAGS_AWS
    bool "Match topic strings used for AWS"

endif # SHADOW_PARSER
