# Copyright (c) 2021 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig WDT
    bool "Config Watchdog Timer"
    imply WATCHDOG
    help
        Enable-to-Disable requires power cycle or watchdog reset.
        Watchdog cannot be stopped once started.
        It can be reconfigured after a reset.
        If a watchdog reset occurs, then it won't cause another
        reset unless it is re-enabled.

if WDT

config WDT_INIT_PRIORITY
    int "System init priority (Application)"
    default 0

config WDT_LOG_LEVEL
    int "Log level for BLE watchdog module"
    range 0 4
    default 3

config WDT_TIMEOUT_MILLISECONDS
    int "Rate in milliseconds for watchdog"
    range 18000 1200000
    default 600000
    help
        The bootloader (mcuboot) supplied with the application prior to
        4.0.0 doesn't feed the watchdog. If the bootloader hasn't been
        updated (requires a physical connection), the timeout should
        remain at 10 minutes.

config WDT_MEMFAULT_PRE_FIRE_MS
    int "The software timer fires before the HW WDT"
    default 8000
    help
        This software timer is used to save a core dump before reset.
        This must be large enough so that the system can reboot and
        feed the dog. The memfault software watchdog causes a
        reset assertion.  The kernel with modem requires 3 seconds
        to boot.

config WDT_WORK_QUEUE_STACK_SIZE
    int
    default 320

config WDT_TEST
    bool "Force the watchdog to timeout (set during initialization)"

endif # WDT