# Copyright (c) 2022 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

config FOTA_SMP
    bool "Enable application update from file system"
    depends on FILE_SYSTEM_UTILITIES
    depends on ATTR

module=FOTA_SMP
module-dep=LOG
module-str=FOTA_SMP
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
