# Copyright (c) 2021 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig BLE
    bool "Enable BLE module"
    default y if BT

if BLE

config BLE_INIT_PRIORITY
    int "SYS_INIT priority (Application Level) of BLE Enable"
    default 20
    help
        This should be initialized early so that other modules can call Bluetooth functions.

config BLE_LOG_LEVEL
    int "Log level for BLE module"
    range 0 4
    default 3

config BLE_NUMBER_OF_DIGITS_TO_USE_IN_DEV_NAME
    int "The number of digits of that are used in ble device name and advertisement"
    default 7

endif # BLE
