rsource "./Kconfig.aws"
rsource "./Kconfig.app_update"
rsource "./Kconfig.ble"
rsource "./Kconfig.button"
rsource "./Kconfig.fota_smp"
rsource "./Kconfig.gateway_common"
rsource "./Kconfig.http_file_download"
rsource "./Kconfig.jsmn"
rsource "./Kconfig.lairdconnect_battery"
rsource "./Kconfig.lcz_certs"
rsource "./Kconfig.lcz_motion"
rsource "./Kconfig.lcz_motion_temperature"
rsource "./Kconfig.lcz_mqtt"
rsource "./Kconfig.lte"
rsource "./Kconfig.shadow_parser"
rsource "./Kconfig.single_peripheral"
rsource "./Kconfig.sntp"
