# Copyright (c) 2021-2022 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig AWS
    bool "Config AWS (MQTT) Module"
    select LCZ_MQTT

if AWS

config AWS_TOPIC_MAX_SIZE
    int "Maximum size for generated AWS topic strings"
    default 64

module=AWS
module-dep=LOG
module-str=AWS
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # AWS
