#
# Copyright (c) 2021 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#
menuconfig ATTR
    bool "Enable attribute/parameters module"
    depends on FILE_SYSTEM_UTILITIES
    depends on FRAMEWORK
    depends on LCZ_PARAM_FILE

if ATTR

config ATTR_INIT_PRIORITY
    int "Init priority Application for attribute module"
    range 2 99
    default 2
    help
        Can't be higher than LCZ_PARAM_FILE_INIT_PRIORITY.
        Recommended to be higher than main thread init priority.

config ATTR_LOG_LEVEL
    int "Log level for Attributes module"
    range 0 4
    default 3

config ATTR_FILE_NAME
    string "File name for attributes"
    default "attr.txt"

config ATTR_BREAK_ON_LOAD_FAILURE
    bool "Stop loading on first failure"

config ATTR_SHELL
    bool "Enable Attribute Shell"
    depends on SHELL

config ATTR_SHELL_SHOW_ALL_DELAY_MS
    int "Amount of time to delay between each debug log print"
    depends on ATTR_SHELL
    default 10
    help
        This is used to prevent log system overflow.

config ATTR_SHOW_LOG_LEVEL
    int "Log level for attribute value changes"
    range 0 4
    default 3
    help
        Logging for individual attributes is
        controlled by the shell command 'quiet'

config ATTR_SHOW_FMT
    string "Format for the attribute show command index name"
    default "[%03u] %-30s"

config ATTR_FLOAT_FMT
    string "Default format for floats"
    default "%.4e"

config ATTR_FLOAT_MAX_STR_SIZE
    int "Number of characters (and NULL) for floats converted to string"
    default 13
    help
        An example with ATTR_FLOAT_FMT of %0.4e is -2.8171e+000.

config MCUMGR_CMD_SENTRIUS_MGMT
    bool "Enable the Sentrius MCUMGR interface"
    depends on MCUMGR
    select CBOR_FLOATING_POINT
    select CBOR_HALF_FLOAT_TYPE

config MGMT_GROUP_ID_SENTRIUS
	int "MCU manager group id"
	default 65

endif # ATTR
